flows (2).json
[
    {
        "id": "383d3fb3fe46745a",
        "type": "tab",
        "label": "ML IoT: Smart Agriculture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "518c0a1e8f15fd90",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "402f59a675c6d550",
        "type": "ui-theme",
        "name": "Agriculture Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#45b814",
            "bgPage": "#b6d9af",
            "groupBg": "#ffffff",
            "groupOutline": "#187c43"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6015497ee00d28f5",
        "type": "ui-theme",
        "name": "Theme Name",
        "colors": {
            "surface": "#ffffff",
            "primary": "#28b839",
            "bgPage": "#daf7d4",
            "groupBg": "#ffffff",
            "groupOutline": "#0e6c3c"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "6px"
        }
    },
    {
        "id": "1ae2f6adfda8859b",
        "type": "ui-page",
        "name": "Smart Aggriculture - Irrigation ",
        "ui": "518c0a1e8f15fd90",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "6015497ee00d28f5",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "4a0413ca70bd30d0",
        "type": "ui-group",
        "name": "Real-time Monitoring",
        "page": "1ae2f6adfda8859b",
        "width": "10",
        "height": "15",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "409379e5dc1b0498",
        "type": "inject",
        "z": "383d3fb3fe46745a",
        "name": "Start Ingestion",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "8b6527b6261a53e5"
            ]
        ]
    },
    {
        "id": "8a1fa8f32c3e80da",
        "type": "csv",
        "z": "383d3fb3fe46745a",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 610,
        "y": 120,
        "wires": [
            [
                "141d1ec4b03cf839"
            ]
        ]
    },
    {
        "id": "141d1ec4b03cf839",
        "type": "function",
        "z": "383d3fb3fe46745a",
        "name": "function 1",
        "func": "// Preprocessing Step 1: Data Validation\n// This ensures we don't send \"empty\" rows to the ML model\nif (msg.payload.Temperature && msg.payload.Humidity && msg.payload.Soil_Moisture) {\n    return msg; // Valid data: Proceed to the next node\n}\n\n// Invalid/Empty data: Stop the flow here to save server resources\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            [
                "384245cbd01e0c31"
            ]
        ]
    },
    {
        "id": "4c584fd0f12b0fb2",
        "type": "debug",
        "z": "383d3fb3fe46745a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 320,
        "wires": []
    },
    {
        "id": "8b6527b6261a53e5",
        "type": "http request",
        "z": "383d3fb3fe46745a",
        "name": "Fetch GitHub Dataset",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://raw.githubusercontent.com/jyyhaaa/IoT-Project/refs/heads/main/irrigation_clean.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 380,
        "y": 120,
        "wires": [
            [
                "8a1fa8f32c3e80da"
            ]
        ]
    },
    {
        "id": "cbe583ef464d5e23",
        "type": "switch",
        "z": "383d3fb3fe46745a",
        "name": "",
        "property": "payload.Soil_Moisture",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 260,
        "wires": [
            [
                "4c584fd0f12b0fb2"
            ]
        ]
    },
    {
        "id": "e6974313ddd753aa",
        "type": "link in",
        "z": "383d3fb3fe46745a",
        "name": "ML Model",
        "links": [
            "2b14afc2af428385"
        ],
        "x": 1115,
        "y": 200,
        "wires": [
            [
                "872b4dc20fd91b6d"
            ]
        ]
    },
    {
        "id": "872b4dc20fd91b6d",
        "type": "http request",
        "z": "383d3fb3fe46745a",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:8000/predict",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1230,
        "y": 200,
        "wires": [
            [
                "105fd887e804d467",
                "edcae52d06af1218",
                "072fb8c6b9dacc30",
                "2ecff79021f4ac2a"
            ]
        ]
    },
    {
        "id": "2b14afc2af428385",
        "type": "link out",
        "z": "383d3fb3fe46745a",
        "name": "To ML Model",
        "mode": "link",
        "links": [
            "e6974313ddd753aa"
        ],
        "x": 1035,
        "y": 200,
        "wires": []
    },
    {
        "id": "105fd887e804d467",
        "type": "debug",
        "z": "383d3fb3fe46745a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 320,
        "wires": []
    },
    {
        "id": "384245cbd01e0c31",
        "type": "change",
        "z": "383d3fb3fe46745a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.Temperature",
                "pt": "msg",
                "to": "$number(payload.Temperature_C)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.Humidity",
                "pt": "msg",
                "to": "$number(payload.Humidity)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.Soil_Moisture",
                "pt": "msg",
                "to": "$number(payload.Soil_Moisture)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "cbe583ef464d5e23",
                "04cd9e7d63dc0c98"
            ]
        ]
    },
    {
        "id": "04cd9e7d63dc0c98",
        "type": "function",
        "z": "383d3fb3fe46745a",
        "name": "function 2",
        "func": "if (msg.payload.Temperature > 60) {\n    msg.payload.Temperature = 60;\n}\n\nif (msg.payload.Humidity < 0) {\n    msg.payload.Humidity = 0;\n} else if (msg.payload.Humidity > 100) {\n    msg.payload.Humidity = 100;\n}\n\nif (msg.payload.Soil_Moisture < 0) {\n    msg.payload.Soil_Moisture = 0;\n} else if (msg.payload.Soil_Moisture > 100) {\n    msg.payload.Soil_Moisture = 100;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 200,
        "wires": [
            [
                "2b14afc2af428385"
            ]
        ]
    },
    {
        "id": "edcae52d06af1218",
        "type": "function",
        "z": "383d3fb3fe46745a",
        "name": "function 3",
        "func": "// Extract the numeric prediction value\nlet prediction = msg.payload.irrigation_prediction;\n\n// Recommendation logic (Status is optimal vs ALERT)\nlet statusString = (prediction > 0.5) ?\n    \"⚠️ ALERT: High Water Demand (\" + prediction.toFixed(2) + \"mm)! Manual action required.\" :\n    \"✅ Status: Soil moisture is optimal. No action needed.\";\n\n// Output 1: String for the Text widget\nlet textMsg = {\n    payload: statusString\n};\n\n// Output 2: String for the Alert widget (Toast)\nlet alertMsg = null;\nif (prediction > 0.5) {\n    alertMsg = {\n        payload: \"Critical Warning: Activate Irrigation System Immediately!\"\n    };\n}\n\n// [Port 1, Port 2]\nreturn [textMsg, alertMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 300,
        "wires": [
            [],
            [
                "1aedd3f034a2802d"
            ]
        ]
    },
    {
        "id": "2ecff79021f4ac2a",
        "type": "ui-gauge",
        "z": "383d3fb3fe46745a",
        "name": "Predicted Water Requirement",
        "group": "4a0413ca70bd30d0",
        "order": 2,
        "value": "payload.irrigation_prediction",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Water Demand",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1.5",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3.5",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "5",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "072fb8c6b9dacc30",
        "type": "ui-chart",
        "z": "383d3fb3fe46745a",
        "group": "4a0413ca70bd30d0",
        "name": "",
        "label": "Irrigation Requirement Trend",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Irrigation Prediction",
        "yAxisProperty": "payload.irrigation_prediction",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1580,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1aedd3f034a2802d",
        "type": "ui-notification",
        "z": "383d3fb3fe46745a",
        "ui": "518c0a1e8f15fd90",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "5",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "alert",
        "x": 1690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "21f8140a288b2790",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]